In [15]:
list_numbers="1 2 3 4 5".split()
print(list_numbers)
print(type(list_numbers))
new_list=[]
for num in list_numbers:
    new_list.append(int(num))
print(new_list)
print(type(list_numbers))

['1', '2', '3', '4', '5']
<class 'list'>
[1, 2, 3, 4, 5]
<class 'list'>

In [25]:
 fl = float(input("enter float value: "))
 print(f1)

enter float value: 2.3

TypeError: 'float' object is not callable

# print function

In [26]:
print("my" , "name","is","SSR",21,34,54)

my name is SSR 21 34 54

In [34]:
print("hello",end='\n')
print("world")

hello
world

In [36]:
print("list","of","words",sep='\n')

list
of
words

In [37]:
print("capital of %s is %s"%("india","delhi"))

capital of india is delhi

In [38]:
print("capital of {} is {}".format("india","delhi"))

capital of india is delhi

In [39]:
import pickle

In [40]:
file='file'
obj=[1,2,3]
f=open(file,'wb')
pickle.dump(obj,f)
f.close()

In [41]:
f=open(file,'rb')
obj=pickle.load(f)
print(obj)
f.close()

[1, 2, 3]

In [42]:
i=1
while i<=20:
    print(i,end='\n')
    i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [43]:
import math

In [48]:
def SSR(name="reddy"):
    print("hello",name)

In [49]:
SSR()

hello reddy

In [50]:
SSR("SUJITH")

hello SUJITH

In [63]:
x=50
def func(x):
  #  global x
    print(x)
    x=2
    print(x)
func(x)
print(x)

50
2
50

In [60]:
func(x)

TypeError: func() takes 0 positional arguments but 1 was given

# KEYWORD ARGUMENTS

# markdown

# ahbnxhabhxb

In [ ]:
def total(a=5,*numbers,**keyvalue):
    print(a)
    
    for item in numbers:
        print(item, end=' ')
    for first,second in keyvalue.items():
        print(first,second)

In [2]:
t=('abhishek',)
print(t,type(t))

('abhishek',) <class 'tuple'>

In [3]:
t(-1)

TypeError: 'tuple' object is not callable

In [6]:
t[-1][-4]

's'

In [7]:
t=('abc','def',(1,23,6))

In [8]:
t

('abc', 'def', (1, 23, 6))

In [9]:
del t

In [10]:
t

NameError: name 't' is not defined

#TUPLES

In [13]:
T=(1,2,3,5,3,5,3)
T.count(5)

2

In [16]:
T.index(5)

3

In [18]:
sum(T)
t=sorted(T)
print(t)

[1, 2, 3, 3, 3, 5, 5]

 #SETS

# SETS

In [19]:
a={}
b={1,2,3}
print(type(a),type(b))

<class 'dict'> <class 'set'>

In [21]:
class student:
    pass
p=student()
print(p)

<__main__.student object at 0x00000210CC98DBE0>

In [ ]:
import numpy